@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');


body{
  background-color: #EEE6F3;
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  font-size: 9vh;
  background: -webkit-linear-gradient(rgb(153, 76, 241), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.famsLogo{
  border-radius: 12px;
}